# Exclude everything by default
*

# Whitelist files/dirs needed for Docker build
!package.json
!package-lock.json
!server/
!templates/
!public/
!admin/
!config.json
!config.json.example
!docker-entrypoint.sh
!Dockerfile
